data
.DS_Store
.idea/
*.vscode/
source_adrien/chatbot-memory-master/src/.vscode/
osef_perso
src/.vscode/
src/trash/
src/trash
src/__pycache__/
isma/
notebook/.ipynb_checkpoints/concept_learning_robust4-checkpoint.ipynb
*.ipynb_checkpoints*
script.sh
*.stderr
*.stdout
